.skillsBlock{
    min-height: 100vh;
    background-color: #beaa9f;
    flex-wrap: wrap;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;

}

.title{
    background-color: greenyellow;
    text-align: center;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}