.mainBlock{
    height: 100vh;
    background-color: #9d9999;
}
.text{
    width: 300px;
   /* background-color: #beafaf;*/

}
.photo{
    width:300px;
    height: 187px;
    background-color: #588c79;
    background-image: url("https://www.rabstol.net/uploads/gallery/thumb/485/rabstol_net_inside_out_10.jpg");

}
