.mainBlock{
    height: 100vh;
    background-color: #9d9999;
}
.text{
    width: 300px;
   /* background-color: #beafaf;*/

}
.photo{
    width: 200px;
    height: 286px;
    background-color: #588c79;
    background-image: url("https://www.youloveit.ru/uploads/posts/2015-03/1427192009_youloveit_ru_emocii_riley_golovolomka04.png");

}
