@import "../../src/common/styles/sass/variabels.scss";
@import "../../src/common/styles/sass/mixins.scss";

.mainBlock {
  height: 100vh;
  background-color:$bgColor;

  .text {
    @include textMixin($titleFondFamily, 20px, 1.2);
    margin: 0 0 5px;
    letter-spacing: 1px;
    width: 300px;

  }

  .photo {
    width: 300px;
    height: 187px;
    background-color: $bgSecondColor;
    background-image: url("https://www.rabstol.net/uploads/gallery/thumb/485/rabstol_net_inside_out_10.jpg");
  }
}


