
.projectsBlock {
    /* min-height: 100vh;*/
    background-color: #1f1f20;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.title {
    text-align: center;
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;


    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title h2 {
    font-weight: 10;
    margin: 0;
}

.title::before {
    content: "";
    background: #275b9a;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*text-align: center;*/
    flex-wrap: wrap;
    /* box-sizing: border-box;*/
    margin-top: 30px;
    align-items: flex-start;
}

.text {
    width: 300px;
    background-color: #beafaf;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}
